header {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;

  & img {
    height: 68px;
  }

  & nav {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
  }
}